<div class="users">
  <div class="control-panel">
    <form [formGroup]="userForm">
      <label class="select">Select column to filter:
        <select  formControlName="field">
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
      </label>
      <label class="input">Enter filter keywords:
        <input formControlName="keyword" type="text" placeholder="filter keywords go here..." />
      </label>
    </form>
  </div>
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filterUser:field:keyword ">
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>